{% extends 'core/base.html' %}

{% block contenido %}


<h1>Listado de automoviles</h1>

<table>
    <tr>
        <th>Nombre</th>
        <th>Esterilizado</th>
        <th>Chip</th>
        <th>Rut de usuario</th>
        <th>Opciones</th>
    </tr>
    {# por cada fila de la BBDD creamos una fila de la tabla #}
     {% for m in mascota %}

    <tr>
        <td>{{ m.nombre }}</td>
        <td>{{ m.esterilizado.nombre }}</td>
        <td>{{ m.chip }}</td>
        <td>{{ m.rut_usuario }}</td>
        <td>
            <a href="{% url 'eliminar' m.id %}">Eliminar</a>
            <a href="{% url 'modificar' m.id %}">Modificar</a>
        </td>
    </tr>

    {% endfor %}


</table>

<!--Primero preguntamos si hay mensajes que mostrar-->

{% if messages %}
<!--recorremos todos los mensajes y los mostramos-->
    {% for m in messages %}
        <div>{{ m }}</div>
    {% endfor %}
{% endif %}




{% endblock contenido %}