{% extends 'core/base.html' %}

{% block contenido %}






<form action="" method="POST">

    {% csrf_token %}

    <table class="tablaformulario">
        <tr>
            <th>
                <label for="txtNombre">Nombre</label>
            </th>
            <th>
                <input type="text" id="txtNombre" name="txtNombre">
            </th>
        </tr> 
        <tr>
            <th><label for="cboEsterilizado">Esterilizado</label></th>
            <th><select name="cboEsterilizado" id="cboEsterilizado">
                <option value="">Seleccionar</option>
                <option value="1">Si</option>
                <option value="2">No</option>
            </th>
        </tr>
        <tr>
            <th><label for="cboChip">Chip</label></th>
            <th><select name="cboChip" id="cboChip">
                <option value="">Seleccionar</option>
                <option value="1">Si</option>
                <option value="2">No</option>
            </th>
        </tr> 
        
            <th><label for="txtNacimiento">Fecha de Nacimiento</label></th>
            <th><input type="date" id="txtNacimiento" name="txtNacimiento"></th>
        </tr>
        <tr>
            <th><label for="cboRaza">Raza</label></th>
            <th><select name="cboRaza" id="cboRaza">
                <option value="">Seleccionar</option>
                    {% for r in raza  %}
                    <option value="{{r.id}}">{{r.descripcion}}</option>
                    {% endfor %}
        </tr>


        <tr>
            <th><label for="cboOrigen">Origen de mascota</label></th>
            <th><select name="cboOrigen" id="cboOrigen">
                <option value="">Seleccionar</option>
                    {% for o in origen  %}
                    <option value="{{o.id}}">{{o.descripcion}}</option>
                    {% endfor %}
        </tr>
        <tr>
            <th><label for="cboRefugio">Refugio</label></th>
            <th><select name="cboRefugio" id="cboRefugio">
                <option value="">Seleccionar</option>
                    {% for r in refugio  %}
                    <option value="{{r.id}}">{{r.nombre}}</option>
                    {% endfor %}
        </tr>
        <tr>
            <th><label for="txtRut">Rut usuario</label></th>
            <th><input type="text"  id="txtRut" name="txtRut"></th>
        </tr>



        <tr>
            <th>
            </th>
            <th>
                <br>
                <input type="submit" value="Registro" id="btnGuardar">
            </th>
            <th>
                <br>
                a href="{% url 'eliminar' a.id %}">Eliminar</a>
            </th>
        </tr>
    </table>
    <br>


    <h3>{{ mensaje }}</h3>


</form>






{% endblock %}